input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid $grey;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}

.location-option {
  display: block;
  width: 100%;
  text-align: start;
  border: 1px solid #bbbbbb;
  background-color: transparent;
  padding: 6px 12px;
  color: #000;
  cursor: pointer;
}

[type="submit"] {
  width: 100%;
  padding: 6px 12px;
  margin-top: 1.5rem;

  &:hover {
    cursor: pointer;
    background: #f5c432;
  }
}